@page "/register"
@layout AuthLayout
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
<h1 class="h2 font-weight-normal login-title">
    Register
</h1>
<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="registerRequest">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputUsername" class="sr-only">User Name</label>
                <InputText id="inputUsername" class="form-control" placeholder="Username" autofocus @bind-Value="@registerRequest.UserName" />
                <ValidationMessage For="@(() => registerRequest.UserName)" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <InputText type="password" id="inputPassword" class="form-control" placeholder="Password" @bind-Value="@registerRequest.Password" />
                <ValidationMessage For="@(() => registerRequest.Password)" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="inputPasswordConfirm" class="sr-only">Password Confirmation</label>
                <InputText type="password" id="inputPasswordConfirm" class="form-control" placeholder="Password Confirmation" @bind-Value="@registerRequest.PasswordConfirm" />
                <ValidationMessage For="@(() => registerRequest.PasswordConfirm)" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="text-danger">@error</label>
            <NavLink href="login">
                <h6 class="font-weight-normal text-center">Already have an account? Click here to login</h6>
            </NavLink>
        </div>
    </div>
</EditForm>
@functions{
    RegisterRequest registerRequest { get; set; } = new RegisterRequest();
    string error { get; set; }
    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Register(registerRequest);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}